.navbar, table, tr, th, td {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar{
    background-color: #222629;
}

.navbar-brand > h2{
    color: #FEFFFF;
}
label{
    color: #FEFFFF;
    margin-right: 5px;
}
table{
    border: 5px solid #222629;
}